<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${pageTitle}</title>
    <link rel="stylesheet" href="../../../addones/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/common.css">
    <style type="text/css">
        #mainFrame{
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            width: 750px;
            text-align: center;
        }
        .des-box{
            margin: 5px 5px;
            text-align: left !important;
            padding-left: 3px;
            padding-right: 3px;
        }
    </style>
</head>
<body>
    <div id="mainFrame">
        <div class="di_line"></div>
        <div class="di_line"></div>
        <div class="di_line"></div>
        <div class="row">
            ## 职业选择框
            <div class="col-md-4 box-shadow-customs" style="padding-top: 30px;padding-bottom: 30px;height: 572px">
                #foreach($proData in $proList)
                    <div class="row">
                        <div class="col-md-6">
                            <img src="${proData.p_IMG}" style="height: 64px;width: 64px;margin: 1px 1px">
                        </div>
                        <div class="col-md-6">
                            <div class="row" style="text-align: left">
                                <p>${proData.p_NAME}</p>
                            </div>
                            <div class="row" style="text-align: left">
                                <button style="width: 90px"
                                        id="btnSelect"
                                        onclick="selectPro(${proData.p_ID})"
                                        class="btn btn-success btn-xs">
                                    选择${proData.p_NAME}
                                </button>
                            </div>
                        </div>
                    </div>
                #end
            </div>
            <div class="col-md-1"></div>
            #foreach($proData in $proList)
                <div class="col-md-7 box-shadow-customs"
                     style="padding-top: 30px;padding-bottom: 30px;height: 572px;"
                     id="c${proData.p_ID}"
                     hidden="hidden">
                    <div class="row box-shadow-customs" style="margin: 5px 5px">
                        <img src="${proData.p_DETAIL_IMG}"
                             style="width: 413px;height: 280px;" />
                    </div>
                    <div class="row box-shadow-customs des-box" style="height: 170px">
                        <p style="margin: 3px"><b>职业介绍</b></p>
                        <p style="margin: 3px">${proData.p_DETAIL_DES}</p>
                    </div>
                    <div class="row box-shadow-customs des-box" style="text-align: center !important;margin-top: 15px">
                        <div class="form-inline" style="padding-top: 7px;padding-bottom: 7px">
                            <div class="form-group">
                                <label class="sr-only" for="roleName">角色名：</label>
                                <input type="text" class="form-control input-sm" id="roleName${proData.p_ID}" placeholder="请输入角色名..." />
                            </div>
                            <button class="btn btn-xs btn-success" onclick="getRandomName(${proData.p_ID})">随机名称</button>
                            <button class="btn btn-xs btn-success">确认创建</button>
                        </div>
                    </div>
                </div>
            #end
##            <div class="col-md-7 box-shadow-customs"
##                 style="padding-top: 30px;padding-bottom: 30px;height: 572px;"
##                 id="c">
##                <div class="row box-shadow-customs" style="margin: 5px 5px">
##                    <img src="../../images/page/prosession/detailWarrior.jpg"
##                         style="width: 356px;height: 280px;" />
##                </div>
##                <div class="row box-shadow-customs des-box" style="height: 170px">
##                    <p style="margin: 3px">职业介绍</p>
##                    <p style="margin: 3px"></p>
##                </div>
##                <div class="row box-shadow-customs des-box" style="text-align: center !important;margin-top: 15px">
##                    <div class="form-inline" style="padding-top: 7px;padding-bottom: 7px">
##                        <div class="form-group">
##                            <label class="sr-only" for="roleName">角色名：</label>
##                            <input type="text" class="form-control input-sm" id="roleName" placeholder="请输入角色名..." />
##                        </div>
##                        <button class="btn btn-xs btn-success">确认创建</button>
##                    </div>
##                </div>
##            </div>
        </div>


    </div>
</body>
</html>
<script src="../../../addones/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="../../../addones/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../../addones/js/RegularExpression.js" type="text/javascript"></script>
<script type="text/javascript">
    function selectPro(proNum) {
        $("#c50001").attr("hidden","hidden");
        $("#c50002").attr("hidden","hidden");
        $("#c50003").attr("hidden","hidden");
        $("#c50004").attr("hidden","hidden");
        $("#c50005").attr("hidden","hidden");
        $("#c50006").attr("hidden","hidden");
        $("#c50007").attr("hidden","hidden");
        $("#c50008").attr("hidden","hidden");
        $("#c"+proNum).removeAttr("hidden");
    }
    function getRandomName(pId) {
        $.post("/data/getname.do",{},function (data) {
            $("#roleName"+pId).val(data);
        })
    }
</script>