<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>武侠风云录</title>
    <!-- Bootstrap Core CSS -->
    <link href="../../addones/sbAdmin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../addones/sbAdmin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../addones/sbAdmin/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../../addones/sbAdmin/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="../../addones/sbAdmin/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../../addones/sbAdmin/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../../addones/sbAdmin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../../addones/sbAdmin/dist/css/ladda-themeless.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../addones/sbAdmin/dist/css/jquery-confirm.css" rel="stylesheet" type="text/css"/>
    <link href="../../addones/sbAdmin/dist/css/customs-style.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">武侠风云录</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input id="input_acct" class="form-control" placeholder="accout" autofocus oninput="checkUserName()" />
                            </div>
                            <div class="form-group">
                                <input id="input_pwd" class="form-control" placeholder="Password" type="password" oninput="checkUserPwd()" />
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">记住我
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <a href="#" class="btn btn-sm btn-success btn-block" onclick="confirmLogin()">登陆游戏</a>
                            <a href="#" class="btn btn-sm btn-primary btn-block" onclick="regClick()">注册账号</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<!-- jQuery -->
<script src="../../addones/sbAdmin/vendor/jquery/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../../addones/sbAdmin/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="../../addones/sbAdmin/vendor/metisMenu/metisMenu.min.js"></script>
<!-- Morris Charts JavaScript -->
<script src="../../addones/sbAdmin/vendor/raphael/raphael.min.js"></script>
<script src="../../addones/sbAdmin/vendor/morrisjs/morris.min.js"></script>
<script src="../../addones/sbAdmin/data/morris-data.js"></script>
<!-- Custom Theme JavaScript -->
<script src="../../addones/sbAdmin/dist/js/sb-admin-2.js"></script>
<!-- DataTables JavaScript -->
<!-- DataTables JavaScript -->
<script src="../../addones/sbAdmin/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="../../addones/sbAdmin/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="../../addones/sbAdmin/vendor/datatables-responsive/dataTables.responsive.js"></script>
<script src="../../addones/sbAdmin/js/jquery-confirm.js"></script>
<script src="../../../addones/js/RegularExpression.js"></script>
<script type="text/javascript">
    function regClick() {
        window.location = "/html/register";
    }
    function confirmLogin() {
        var acct = $("#input_acct").val();
        var pwd = $("#input_pwd").val();
        if (acct == "" || pwd == "") {
            $.alert({
                title: '错误!',
                content: '账号密码不能为空！'
            });
            return;
        }
        $.post("/user/login.do", {USER_ACCT: acct, USER_PWD: pwd}, function (data) {
            var obj = data;
            if (obj == '200003') {
                //TODO
                window.location = "/";
            } else if (obj == '200005') {
                $.alert({
                    title: '错误!',
                    content: '用户密码不正确！',
                });
                return;
            } else {
                $.alert({
                    title: '错误!',
                    content: '系统错误或者账号不存在！',
                });
                return;
            }
        });
    }
    function checkUserName() {
        $("#acctCheckSpan").removeClass("glyphicon-ok");
        $("#acctCheckSpan").removeClass("glyphicon-remove");
        $("#acctFrame").removeClass("has-success");
        $("#acctFrame").removeClass("has-error");
        if (isNumberOrLetter($("#input_acct").val())) {
            $("#acctCheckSpan").addClass("glyphicon-ok");
            $("#acctFrame").addClass("has-success");
        } else {
            $("#acctCheckSpan").addClass("glyphicon-remove");
            $("#acctFrame").addClass("has-error");
        }
    }
    function checkUserPwd() {
        $("#pwdCheckSpan").removeClass("glyphicon-ok");
        $("#pwdCheckSpan").removeClass("glyphicon-remove");
        $("#pwdFrame").removeClass("has-success");
        $("#pwdFrame").removeClass("has-error");
        if (isNumberOrLetter($("#input_pwd").val())) {
            $("#pwdCheckSpan").addClass("glyphicon-ok");
            $("#pwdFrame").addClass("has-success");
        } else {
            $("#pwdCheckSpan").addClass("glyphicon-remove");
            $("#pwdFrame").addClass("has-error");
        }
    }
</script>