<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${pageTitle}</title>
    <link rel="stylesheet" href="../../../addones/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/common.css">
    <style type="text/css">
        #mainFrame{
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            width: 300px;
            text-align: center;
        }
        .di_line{
            height: 15px;
        }
        .button-inline{
            position: relative;
        }
        .common-width{
            /*width: 60px;*/
        }
        .padding-customs{
            padding-top: 0px !important;
            padding-bottom: 0px !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
    </style>
</head>
<body>
<div id="mainFrame">
    <h1><img src="../../../images/page/logo-new.png" style="width: 200px"/></h1>
    <div class="di_line"></div>
    <div id="acctFrame" class="input-group input-group-sm has-feedback" >
        <span class="input-group-addon common-width">登陆账号</span>
        <input id="input_acct" type="text" class="form-control" placeholder="账号为8-24位数字与字母组成" oninput="checkUserName()"/>
        <span id="acctCheckSpan" class="glyphicon form-control-feedback"></span>
    </div>
    <div class="di_line"></div>
    <div id="pwdFrame" class="input-group input-group-sm has-feedback">
        <span class="input-group-addon common-width">登陆密码</span>
        <input id="input_pwd" type="password" class="form-control" placeholder="请输入密码" oninput="checkUserPwd()" />
        <span id="pwdCheckSpan" class="glyphicon form-control-feedback"></span>
    </div>
    <div class="di_line"></div>
    <div id="pwdConfirmFrame" class="input-group input-group-sm has-feedback">
        <span class="input-group-addon common-width">确认密码</span>
        <input id="input_pwd_confirm" type="password" class="form-control" placeholder="请再次输入密码" oninput="checkUserCPwd()" />
        <span id="pwdCheckSpanConfirm" class="glyphicon form-control-feedback"></span>
    </div>
    <div class="di_line"></div>
    <div id="verifyFrame" class="input-group input-group-sm has-feedback">
        <span class="input-group-addon common-width">人工校验</span>
        <input id="input_verify" type="text" class="form-control" placeholder="请输入验证码" oninput="checkUserPwd()" />
        <span id="verifyCheckSpan" class="input-group-addon padding-customs" >
            <img id="verifyCode" src="" style="height: 28px" onclick="refreshvcode()"/>
        </span>
    </div>

    <div class="di_line"></div>

    <p id="notifyMsg" class="bg-danger" style="display:none">......</p>
    <div class="di_line"></div>
    <div class="button-inline">
        <button id="btnConfirm" style="width: 100px;" class="btn btn-success btn-xs" onclick="confirmRegister()">确认注册</button>
        <button id="btnBack" style="width: 100px;" class="btn btn-link" onclick="backToRegister()">返回登陆</button>
    </div>
</div>

<!--tooltips-->
<a href="#" class="tooltip" data-toggle="tooltip" title="acctTt" data-placement="right">测试tooltip</a>
</body>
</html>
<script src="../../../addones/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="../../../addones/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../../addones/js/RegularExpression.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#verifyCode").attr('src','/getCode.do?' + Math.random());
        $("[data-toggle='tooltip']").tooltip();
    });
    function refreshvcode() {
        $("#verifyCode").attr('src','/getCode.do?' + Math.random());
    }
    function checkUserPwd() {
        $("#pwdCheckSpan").removeClass("glyphicon-ok");
        $("#pwdCheckSpan").removeClass("glyphicon-remove");
        $("#pwdFrame").removeClass("has-success");
        $("#pwdFrame").removeClass("has-error");
        if(isNumberOrLetter($("#input_pwd").val())){
            $("#pwdCheckSpan").addClass("glyphicon-ok");
            $("#pwdFrame").addClass("has-success");
        }else{
            $("#pwdCheckSpan").addClass("glyphicon-remove");
            $("#pwdFrame").addClass("has-error");
        }
    }
    function checkUserName() {
        $("#acctCheckSpan").removeClass("glyphicon-ok");
        $("#acctCheckSpan").removeClass("glyphicon-remove");
        $("#acctFrame").removeClass("has-success");
        $("#acctFrame").removeClass("has-error");
        if(isNumberOrLetter($("#input_acct").val())){
            $("#acctCheckSpan").addClass("glyphicon-ok");
            $("#acctFrame").addClass("has-success");
        }else{
            $("#acctCheckSpan").addClass("glyphicon-remove");
            $("#acctFrame").addClass("has-error");
        }
    }
    function backToRegister() {
        window.location = "/html/login";
    }
    function confirmRegister() {
        //清空消息
        $("#notifyMsg").css("display","none");
        var acct = $("#input_acct").val();
        var pwd = $("#input_pwd").val();
        var cpwd = $("#input_pwd_confirm").val();
        var vcode = $("#input_verify").val();
        if(acct==""||pwd==""||cpwd==""||vcode==""){
            $("#notifyMsg").html("信息不完整，请补全信息！");
            $("#notifyMsg").css("display","block");
            return;
        }
        if(pwd != cpwd){
            $("#notifyMsg").html("两次输入密码不一致！");
            $("#notifyMsg").css("display","block");
            return;
        }
        $.post("/user/register.do",
                {
                    USER_ACCT : acct,
                    USER_PWD : pwd,
                    USER_CCODE : vcode
                },function (data) {
                    if(data == '200006'){
                        $("#notifyMsg").html("用户验证码不正确或为空！");
                        $("#notifyMsg").css("display","block");
                    }else if(data == '200001'){
                        $("#notifyMsg").html("用户注册成功，3秒后返回登陆界面！");
                        $("#notifyMsg").css("display","block");

                        setInterval(function () {
                            window.location = "/html/login";
                        },3000);
                    }else if(data == '200002'){
                        $("#notifyMsg").html("用户名已经存在！");
                        $("#notifyMsg").css("display","block");
                    }else{
                        $("#notifyMsg").html("系统错误，错误码为："+data);
                        $("#notifyMsg").css("display","block");
                    }
                });

    }
</script>