<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wulin.dal.LoginSession.dao.LoginSessionDAO">
    <resultMap id="LoginSessionMap" type="com.wulin.dal.LoginSession.entity.LoginSessionDO">
        <id property="SESSION_ID" column="SESSION_ID" />
        <result property="USER_ACCT" column="USER_ACCT" />
        <result property="USER_SESSION" column="USER_SESSION" />
        <result property="LOGIN_TIME" column="LOGIN_TIME" />
        <result property="IS_LOCKED" column="IS_LOCKED" />
    </resultMap>
</mapper>