<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wulin.dal.Prosession.dao.ProsessionDAO">
    <resultMap id="ProsessionMap" type="com.wulin.dal.Prosession.entity.ProsessionDO">
        <id property="P_ID" column="P_ID" />
        <result property="P_NAME" column="P_NAME" />
        <result property="P_IMG" column="P_IMG" />
        <result property="FEATURE" column="FEATURE" />
        <result property="P_DETAIL_IMG" column="P_DETAIL_IMG"/>
        <result property="P_DETAIL_DES" column="P_DETAIL_DES"/>
        <result property="P_DETAIL_EMT" column="P_DETAIL_EMT"/>
        <result property="P_DETAIL_SKILL" column="P_DETAIL_SKILL"/>
    </resultMap>

    <select id="getProsessionList" resultMap="ProsessionMap" fetchSize="8">
        <![CDATA[

          SELECT * FROM prosession;

        ]]>
    </select>
</mapper>

