<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wulin.dal.ServerList.dao.ServerListDAO">
    <resultMap id="ServerListMap" type="com.wulin.dal.ServerList.entity.ServerListDO">
        <id property="id" column="id" />
        <result property="host_address" column="host_address" />
        <result property="host_name" column="host_name" />
        <result property="host_status" column="host_status" />
    </resultMap>

    <select id="getAllServerList" resultMap="ServerListMap">
        SELECT * FROM server_list;
    </select>
</mapper>